body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

/* Title + time slider */
header {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

/* Push the filter label to the right */
.time-filter {
  margin-left: auto;
}

/* Put time + (any time) on their own lines */
#selected-time,
#any-time {
  display: block;
}

/* Style the “(any time)” state */
#any-time {
  color: #777;
  font-style: italic;
}

/* Legend layout */
.legend {
  display: flex;
  gap: 1px;
  margin-block: 1em;
  max-width: 600px;
}

.legend > div {
  flex: 1;
  padding: 0.4em 1em;
  color: white;
  text-align: center;
  font-weight: 500;
  background: var(--color); /* color comes from CSS variable */
}
