/* Map container */
#map {
  width: 100%;
  height: 500px; /* or 100vh if you want full screen */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1em;
  position: relative; /* make SVG overlay positioning work */
}

/* SVG overlay on top of Mapbox canvas */
#map svg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* let map panning work by default */
}

/* Shared color variables for both circles and legend boxes */
#map svg circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

/* Circles on the map */
#map svg circle {
  pointer-events: auto; /* re-enable events for circles */
  fill-opacity: 0.6;
  stroke: white;
  stroke-width: 1px;
  fill: var(--color);
}
